.list-table-format {
  /* display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 0.5fr; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  border: 1px solid #cacaca;
  font-size: 13px;
}
.list-table-format.title {
  background-color: #f9f9f9;
}
.list-table-format img {
  width: 60px;
}

.list-table-format div {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr;
  gap: 5px;
}
.list-table-format .cursor {
    position: relative;
    top: -18px;
    right: -16px;
    background-color: red;
    padding: 2px;
    border-radius: 50%;
    font-size: 12px;
    color: white;
    font-weight: 700;
  }
@media (max-width: 900px) {
  .list-table-format {
    display: flex;
    justify-content: space-between;
    /* gap: 15px; */
  }
  .list-table-format div {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5px;
  }
  .list-table-format.title {
    display: none;
  }
  .list-table-format .cursor {
    position: relative;
    top: -30px;
    right: -16px;
    background-color: red;
    padding: 2px;
    border-radius: 50%;
    font-size: 12px;
    color: white;
    font-weight: 700;
  }
}
@media (max-width: 550px) {
 
  .list-table-format div {
    grid-template-columns:1fr;
  }
}
