.my-orders{
    height: calc(100vh - 360px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.noDataImage{
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}
.noDataImage img{
    width: 300px;
}