.cart {
    margin: 100px 50px;
  }
  .cart-items{
    overflow-y: auto;
    height: calc(100vh - 275px);
  }
  .cart-items::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #4aa302; /* or add it to the track */
  }
  
  /* Add a thumb */
  .cart-items::-webkit-scrollbar-thumb {
    background: #ee6262;
  }
  .cart-items-title {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    color: gray;
    font-size: max(1vw, 12px);
  }
  .cart-items-item{
      margin: 10px 0px;
      color: black;
      align-items: center;
  }
  .cart-items-item img{
      width: 7vw;
      height: 50px;
      object-fit: cover;
  }
  .cart hr{
      height: 1px;
      background-color: #e2e2e2;
      border: none;
  }