/* //Common Classes CSS */
*{
  padding: 0px;
  margin: 0px;
}
.d-flex{
  display: flex;
}
.d-none{
  display: none;
}
.justify-content-between{
  justify-content: space-between;
}
.justify-content-end{
  justify-content: end;
}
.align-center{
  align-items: center;
}
.flex-column{
  flex-direction: column;
}
.fw-bold *{
  font-weight: bold  !important;
}
.fw-500{
  font-weight: 500  !important;
}
.text-white{
  color: white !important;
}
.text-tomato{
  color: tomato !important;
}
.text-black{
  color: black !important;
}
.pointer{
  cursor: pointer;
}
.text-center{
  text-align: center;
}
.line-through{
  text-decoration: line-through
}
.mp-0{
  margin: 0px;
  padding: 0px;
} 
.p-2{
  padding: 2px;
}
.fs-11{
  font-size: 11px;
}

.NavBar{
  /* background-color: grey; */
}
.NavBar img{
  background-color: transparent;
}
.serachBox{
  border: none;
}
.serachBox:focus{
  outline: none;
}
.sideBarIcon{
  position: absolute;
  left: -50px;
}
.sideBarLinks{
  text-decoration: none !important;
  color: black !important;
}

/* //Header CSS */

.header{
  height: 34vw;
  margin: 30px auto;
  background: url('assets/food.jpg') no-repeat;
  background-size: cover;
  position: relative;
}
.headercontent{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
  gap: 1.5vw;
  animation: fadeIn 3s;
}
.headercontent h2{
  font-weight: 500;
  font-size: max(4.5vw,20px);
}
.headercontent p{
  font-size: 1.5vw
}
.headercontent button{
  color: grey !important;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: white;
  border-radius: 50px;
  font-size: max(1vw,12px);
}

.ConatinerAuthBtn {
  display: flex;
  gap: 10px;
}
.authBtnCss {
  background-color: red !important;
  color: whitesmoke !important;
  border-radius: 10px !important;
  font-weight: 500 !important;
}
.authBtnCss:hover {
  background-color: whitesmoke !important;
  color: red !important;
}

.dataLoader{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 360px);
  width: 100%;
}
@media screen and (max-width: 768px) {
  .ConatinerAuthBtn {
    display: none;
  }
  .authBtnCss {
    margin: 5px 0px !important;
    /* width: 100 !important; */
  }
  .mbAuthBtnCss {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .mbAuthBtnCss {
    display: none;
  }
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


